@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

#app {
    height: 100%;
}
html,

body {

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Navbar*/
.navbarTab{
    border: hidden;
    background: seagreen;
    color: white;
    text-align: center;
    padding: 20px;
}

h1.navbarEng{
    font-family: 'Inconsolata', monospace;
    text-align: center;
}
h3.navbarThai{
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

/*footer*/

.footer{
    border: hidden;
    background: seagreen;
    color: white;
    padding: 20px;

}

.footer-social{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: greenyellow;

}



